*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    background-image: linear-gradient(#00e8ff, #00e80e);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.currency-converter{
    background-color: white;
    min-height: 400px;
    min-width: 420px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}

h1{
    border: 2px solid black;
    background-color: lime;
    color: white;
    text-align: center;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

form{
     border: 2px solid lime;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 16px;
     height:  200px;
     position: relative;
}

.input-container{   
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

input{
    height: 50px;
    width: 140px;
    background-color: #BEBEBE;
    border:none;
    padding: 8px;
    font-size: 20px;
    border:none;
    padding-left: 65px; 
}

span{

    display: flex;
    align-items: center;
    font-size: 25px;    
}

button{
    width: 100%;
    height: 40px;
    color: white;
    background-color: lime;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}



/* here it starts the styling of dropdown  */



.dropdown-button{
    background-color: lime;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: fit-content;
    margin-top: 20px;
    height: 100%;
    padding: 4px 20px 4px 4px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 60px;

}

/*down arrow  style */
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 3.5px;
    position: absolute;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.arrow1 { 
     top: 51px;
     left: 46px;
     z-index: 1;
  }

.arrow2 {
    top: 51px;
    right: 85px ;
    z-index: 1;
  }

.dropdown-content{
    position: absolute;
    overflow-y: auto;
    max-height: 100px;
    top: 48px;
    display: none;
    flex-direction: column;
    min-width: 120px;
    background-color: white;
}

.dropdown-content a {
    padding: 4px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.dropdown-content a:hover{
    background-color: rgb(168, 165, 165);
}

.dropdown-button-1{
    position: absolute;
    bottom: 0;
    left: 0;

}

.dropdown-button-2{
    position: absolute;
    bottom: 0;
    left: 177px;
}

.dropdown-content-1{
    border: 2px solid lime;
}

.dropdown-content-2{
    border: 2px solid pink;
    right: 20px;
}



