*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    background-image: linear-gradient(#00e8ff, #00e80e);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.currency-converter{
    background-color: white;
    min-height: 400px;
    min-width: 420px;
    max-width: 350px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}

h1{
    border: 2px solid black;
    background-color: lime;
    color: white;
    text-align: center;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

form{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 16px;
     height:  200px;

}

.input-container{
    
    display: flex;
    justify-content: space-between;
    width: 100%;


}

input{
    height: 50px;
    width: 120px;
    background-color: #BEBEBE;
<<<<<<< HEAD:style.css
    border:none;
    padding: 8px;
    font-size: 30px;
=======
    border:none
>>>>>>> 61ee51a0a1e75efaa48745be5e415d772f2cc65b:Currency-converter/style.css
}

span{

    display: flex;
    align-items: center;
    font-size: 25px;    
}

button{
    width: 100%;
    height: 40px;
    color: white;
    background-color: lime;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.container-selector-currency{
<<<<<<< HEAD:style.css
=======

    
>>>>>>> 61ee51a0a1e75efaa48745be5e415d772f2cc65b:Currency-converter/style.css
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* here it starts the styling of dropdown  */

.dropdown{
     position: relative; 
<<<<<<< HEAD:style.css
 
=======
    
>>>>>>> 61ee51a0a1e75efaa48745be5e415d772f2cc65b:Currency-converter/style.css
}

.dropdown-button{
    background-color: lime;
    padding: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: fit-content;
<<<<<<< HEAD:style.css
    margin-top: 20px;
=======
    margin-bottom: 10px;
>>>>>>> 61ee51a0a1e75efaa48745be5e415d772f2cc65b:Currency-converter/style.css
}

.dropdown-content{
    position: absolute;
<<<<<<< HEAD:style.css
    overflow-y: auto;
    max-height: 100px;
    top: 48px;
    display: none;
    flex-direction: column;
=======
    top: 30px;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
>>>>>>> 61ee51a0a1e75efaa48745be5e415d772f2cc65b:Currency-converter/style.css
    min-width: 120px;
    background-color: white;
}

.dropdown-content a {
    padding: 4px;
    text-decoration: none;
    cursor: pointer;
<<<<<<< HEAD:style.css
    color: black;
=======

>>>>>>> 61ee51a0a1e75efaa48745be5e415d772f2cc65b:Currency-converter/style.css
}

.dropdown-content a:hover{

<<<<<<< HEAD:style.css
    background-color: rgb(168, 165, 165);
=======
    background-color: lime;
>>>>>>> 61ee51a0a1e75efaa48745be5e415d772f2cc65b:Currency-converter/style.css
}

